Repository Team-Dagachi/KoApp-Android, pull requests merged in 2024-06, with the labels that each got.

#3 🎉 [FEAT] Gemini API 연결 및 말하기 연습 챗봇 UI 화면 구현
  KoApp-Android/app/build.gradle.kts
  KoApp-Android/app/src/main/AndroidManifest.xml
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/data/remote/model/ChatMessage.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/ChattingAdapter.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/ChattingFragment.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/ChattingModelViewHolder.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/ChattingUserViewHolder.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/ChattingViewModel.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/widget/ApplicationClass.kt
  KoApp-Android/app/src/main/res/drawable/all_circle_box.xml
  KoApp-Android/app/src/main/res/drawable/bubble_model_bg.xml
  KoApp-Android/app/src/main/res/drawable/bubble_user_bg.xml
  KoApp-Android/app/src/main/res/drawable/ic_bookmark_28.xml
  KoApp-Android/app/src/main/res/drawable/ic_bookmark_fill_28.xml
  KoApp-Android/app/src/main/res/drawable/ic_bulb_24.xml
  KoApp-Android/app/src/main/res/drawable/ic_check_fill_32.xml
  KoApp-Android/app/src/main/res/drawable/ic_feedback_28.xml
  KoApp-Android/app/src/main/res/drawable/ic_mic_36.xml
  KoApp-Android/app/src/main/res/drawable/ic_translate_20.xml
  KoApp-Android/app/src/main/res/drawable/ic_volume_up_20.xml
  KoApp-Android/app/src/main/res/layout/fragment_chatting.xml
  KoApp-Android/app/src/main/res/layout/item_chatting_model.xml
  KoApp-Android/app/src/main/res/layout/item_chatting_user.xml
  KoApp-Android/app/src/main/res/navigation/nav_graph.xml
  KoApp-Android/app/src/main/res/values/gemini_system_instruction.xml
  KoApp-Android/gradle/libs.versions.toml
Labels: ✨ Feat, 🐰 윤지, 🖼️ View

#6 🎉 [FEAT] 스피킹 화면 남은 부분 구현
  KoApp-Android/app/build.gradle.kts
  KoApp-Android/app/src/main/AndroidManifest.xml
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/data/remote/model/ChatMessage.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/base/BaseFragment.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/MainActivity.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/ChattingFragment.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/adapter/ChattingModelViewHolder.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/adapter/ChattingUserViewHolder.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/listener/SpeakingRecognitionListener.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/tts/DagachiTTS.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/ChattingViewModel.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/data/ChattingItem.kt
  KoApp-Android/app/src/main/res/drawable/all_tooltip_box.xml
  KoApp-Android/app/src/main/res/drawable/ic_loading_36.xml
  KoApp-Android/app/src/main/res/drawable/ic_mic_36.xml
  KoApp-Android/app/src/main/res/layout/fragment_chatting.xml
  KoApp-Android/app/src/main/res/raw/rec_animation.json
  KoApp-Android/app/src/main/res/values-ko-rKR/strings.xml
  KoApp-Android/app/src/main/res/values-vi/strings.xml
  KoApp-Android/app/src/main/res/values-zh-rCN/strings.xml
  KoApp-Android/app/src/main/res/values/strings.xml
  KoApp-Android/gradle/libs.versions.toml
Labels: ✨ Feat, 🖼️ View

#8 🎉 [FEAT] 힌트 기능 구현, 피드백 기능 구현
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/data/remote/model/ChatMessage.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/ChattingFragment.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/adapter/ChattingAdapter.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/adapter/ChattingHintViewHolder.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/view/main/learner/speaking/adapter/ChattingUserViewHolder.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/ChattingViewModel.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/FeedbackViewModel.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/HintViewModel.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/data/FeedbackItem.kt
  KoApp-Android/app/src/main/java/com/dagachi/koapp_android/viewmodel/main/learner/speaking/data/HintItem.kt
  KoApp-Android/app/src/main/res/layout/fragment_chatting.xml
  KoApp-Android/app/src/main/res/layout/fragment_speaking.xml
  KoApp-Android/app/src/main/res/layout/item_chatting_hint.xml
  KoApp-Android/app/src/main/res/layout/item_chatting_model.xml
  KoApp-Android/app/src/main/res/layout/item_chatting_user.xml
  KoApp-Android/app/src/main/res/values/strings.xml
Labels: ✨ Feat, 🐰 윤지, 🚨 Help
